<template>
  <div>
    <div class="pt-5 text-white bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-md-left text-center align-self-center my-5">
            <h1 class="">modulusPHP</h1>
            <p class="lead">A lightweight MVC Framework.</p>
            <a class="btn btn-light" :href="documentation">Documentation</a>
            <p class="">version 1.3.*</p>
          </div>
          <div class="col-md-6">
            <div class="__container">
              <div class="top">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="__content">
                <pre><code class="language-php __php">&lt;?php

// url arguments
Route::post('/song/{id}/edit', 'SongController@edit');

// grouped routes
Route::group(['prefix' =&gt; '/blog'], function() {
	Route::get('/post/{id}', 'PostController@showPost');
});

// vue routing
Route::vue(function() {
	view('home');
});


</code></pre> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5 order-2 order-md-1">
            <div class="__container">
              <div class="top">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="__content">
                <pre><code class="language-php __code">class ApiController extends Controller
{
	public function details(Request $request)
	{
		return Rest::response()
			-&gt;json([
				'name'	=&gt; 'Donald',
				'age'   =&gt; 20
			], 200);
	}
}

</code></pre> </div>
            </div>
          </div>
          <div class="order-1 order-md-2 col-md-7 col-md-6 text-md-left text-center align-self-center my-5">
            <h3>Building RESTful API's has never been easier</h3>
            <p class="my-3">Build powerful elagent API's with modulusPHP's REST class.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="order-2 order-md-1 col-md-6">
            <div class="__container">
              <div class="top">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="__content">
                <pre><code class="language-php __code">class PostController extends Controller
{
	/**
	 * Route::get('/post/{id}', 'PostController@show');
	 * 
 	 * Will return a blog post with the specified {id}
	 */
	public function show(Post $post)
	{
		return view('blog.post', compact('post'));
	}
}

</code></pre> </div>
            </div>
          </div>
          <div class="col-md-6 text-md-left text-center align-self-center my-5">
            <h3>Route Model Binding</h3>
            <p class="my-3">Write cleaner code with modulusPHP's Route Model Binding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="display-3 text-center">Dev Tools</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="py-5 col-md-6">
            <div class="row">
              <div class="text-center col-4">
                <i class="d-block mx-auto fa fa-5x fa-terminal"></i>
              </div>
              <div class="col-8">
                <h5 class="mb-3">
                  <b>Debby's Console</b>
                </h5>
                <p class="my-1">A free web analytics tool to help you analyze your website traffic.</p>
              </div>
            </div>
          </div>
          <div class="py-5 col-md-6">
            <div class="row">
              <div class="text-center col-4">
                <i class="d-block mx-auto fa fa-5x fa-bar-chart-o"></i>
              </div>
              <div class="col-8">
                <h5 class="mb-3">
                  <b>Uptime</b>
                </h5>
                <p class="my-1">Get notified when your Web Application stops working.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="py-5 col-md-6">
            <div class="row">
              <div class="text-center col-4">
                <i class="d-block mx-auto fa fa-5x fa-cube"></i>
              </div>
              <div class="col-8">
                <h5 class="mb-3">
                  <b>Swoosh</b>
                </h5>
                <p class="my-1">A simple and easy to use Framework for creating Blogs.</p>
              </div>
            </div>
          </div>
          <div class="py-5 col-md-6">
            <div class="row">
              <div class="text-center col-4">
                <i class="d-block mx-auto fa fa-5x fa-code"></i>
              </div>
              <div class="col-8">
                <h5 class="mb-3">
                  <b>Studio</b>
                </h5>
                <p class="my-1">Powerful IDE for building modulusPHP Web Applications on Microsoft Windows.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="__footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-3 text-center">
            <p class="text-light">© Copyright 2018 modulusPHP | Software by
              <a href="https://sov.tech">SovTech</a> All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    mounted() {
      console.log('Component mounted.');
    },
    props: [
      'documentation'
    ]
  }
</script>